In [52]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [53]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [54]:
credits = pd.read_csv('tmdb_5000_credits.csv')

In [55]:
movies = movies[['id', 'genres', 'keywords', 'title', 'tagline', 'overview', 'production_companies']]

In [56]:
credits = credits[['movie_id', 'cast', 'crew']]

In [57]:
credits

,movie_id,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...
4798,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [58]:
#Lets join/merge both df based on id - movie_id
df = pd.merge(movies, credits, left_on='id', right_on='movie_id', how='inner')

In [59]:
df

,id,genres,keywords,title,tagline,overview,production_companies,movie_id,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...
4798,9367,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi,"He didn't come looking for trouble, but troubl...",El Mariachi just wants to play his guitar and ...,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],Newlyweds,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,[],72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","Signed, Sealed, Delivered",NaN,"""Signed, Sealed, Delivered"" introduces a dedic...","[{""name"": ""Front Street Pictures"", ""id"": 3958}...",231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,[],[],Shanghai Calling,A New Yorker in Shanghai,When ambitious New York attorney Sam is sent t...,[],126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",My Date with Drew,NaN,Ever since the second grade when he first saw ...,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [60]:
df = df.drop(columns = ['movie_id'], axis = 1)

In [61]:
import ast
def get_names(desc):
    list_items = ast.literal_eval(desc)
    names = []
    for item in list_items:
        names.append(item['name'])
    comma_desc = ','.join(names)
    return comma_desc

In [62]:
df['genres'] = df['genres'].apply(get_names)

In [63]:
df['keywords'] = df['keywords'].apply(get_names)

In [64]:
df['production_companies'] = df['production_companies'].apply(get_names)

In [65]:
df['cast'] = df['cast'].apply(get_names)

In [66]:
df['crew'] = df['crew'].apply(get_names)

In [67]:
df.sample()

,id,genres,keywords,title,tagline,overview,production_companies,cast,crew
3086,29076,"Action,Comedy,Romance,Thriller","female nudity,drug cartel,nervous breakdown",Gun Shy,The Agency's best has a bad case of nerves.,Legendary undercover DEA agent Charlie Mayough...,"Hollywood Pictures,Fortis Films","Sandra Bullock,Liam Neeson,Oliver Platt,José Z...","Eric Blakeney,Eric Blakeney"

In [68]:
df.to_csv('cleaned_data.csv')

In [81]:
#Load cleaned file and process string data
df = pd.read_csv('cleaned_data.csv')

In [82]:
#Lets replace space by - in production_companies, cast, crew
df['genres'] = df['genres'].str.replace(' ', '-')
df['keywords'] = df['keywords'].str.replace(' ', '-')
df['production_companies'] = df['production_companies'].str.replace(' ', '-')
df['cast'] = df['cast'].str.replace(' ', '-')
df['crew'] = df['crew'].str.replace(' ', '-')

In [83]:
df.fillna('', inplace = True)

In [84]:
#Lets concatenate all columns except id, title
df['tags'] = df['genres'] + ',' +  df['keywords'] + ',' + df['tagline'] + ',' + df['overview'] + ',' + df['production_companies'] + ',' + df['cast'] + ',' + df['crew']

In [73]:
df = df[['id', 'title', 'tags']]

In [85]:
df['tags'] = df['tags'].str.lower()

In [86]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
# Download stopwords if not already available
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [87]:
len(df.loc[0,'tags'])

3969

In [76]:
stop_words = set(stopwords.words('english'))

In [77]:
len(df.loc[0,'tags'].split(','))

269

In [78]:
stop_words = set(stopwords.words('english'))
def remove_stop_words(all_words):
    all_words = all_words.replace('.', '')
    all_words = all_words.replace(' ', ',')
    all_words = all_words.split(',')
    standard_words = []
    for word in all_words:
        word = word.strip()
        if word != '':
            if word not in stop_words:
                if word not in standard_words:
                    standard_words.append(word)
    tags = ','.join(standard_words)
    return tags

In [79]:
df['tags'] = df['tags'].apply(remove_stop_words)

In [80]:
len(df.loc[0,'tags'])

3741